.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --font:'Manrope', sans-serif;
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: var(--font);
}
body{
    background-color: var(--Light-Grayish-Blue);
}
.padding{
    padding:0 9%;
}
.p1{ padding-top:2.4rem ;}
.container{
    margin:3rem 5%;
    background-color: #fff;
    border-radius:10px;

}

.right h2{color:var(--Very-Dark-Grayish-Blue);font-size:1.1rem;font-weight: 700;}
.right .desc{
    color:var(--Desaturated-Dark-Blue);
    font-size:1rem;
    padding-top:1rem;
    padding-bottom:1.9rem;
    line-height:1.6;
    font-weight: 500;
}
.avatar .michelle{
    width:55px;
    height:55px;
    border-radius:50%;
}
.personal-info{
    display:flex;
    flex-direction:row;
    /* font-size:13px; */
    align-items:center;
}
.avatar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trigger{padding:1rem;}
.text-area{padding-left:1rem;}
.text-area p{
    color:var(--Grayish-Blue);
}

.text-area h4{
    color:var(--Very-Dark-Grayish-Blue);
    font-weight:700;
}

.img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:100%;
    max-width:100vw;
    height:auto;
}
.share-bg{
    background-color:var(--Light-Grayish-Blue);
    border-radius:50%;
    width:35px;
    height:35px;
    display:flex;
    text-align: center;
}
.share{
    width:15px;
    height:15px;
    margin:auto;
}
.share-bottom{
    margin-top:1rem;
    color:#fff;
    background-color:var(--Very-Dark-Grayish-Blue);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top:1rem ;
    padding-bottom:1rem ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left-bottom{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
.left-bottom p{
    text-transform: uppercase;
    color:var(--Grayish-Blue);
    letter-spacing: 4px;
    font-weight:300;
    font-size:13px;
}
.fab{
    font-size:1.4rem;
    padding-left:1rem;
}
.share-bg2{
    background-color:var(--Desaturated-Dark-Blue);
    border-radius:50%;
    width:35px;
    height:35px;
    display:flex;
    text-align: center;
    
}
.share{color:#FFF;cursor:pointer;}

.avatar.active{
    overflow:hidden;
    height:0;
}
.share-bottom{
    display:none;
}
.share-bottom.active{
    display:flex;
}
.triunghi{display:none;}
@media only screen and (min-width:700px) {
    .container{
        display:flex;
        margin: 20rem 10rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 0px;
    }
    .img{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        max-width:400px;
    }
    .right{
        position:relative;
    }
    .share-bottom{
        width:260px;
        height:50px;
        border-radius: 10px;
        position: absolute;
        top:45%;
        left:110%;
        transform:translate(-110%,-45%);
    }
    .triunghi{
        display:block;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid var(--Very-Dark-Grayish-Blue);
        
        position:absolute;
        top:160%;
        left:50%;
        transform:translate(-50%,-160%);
    }
    .share-bottom{display:none;}
    .share-bottom.active, .triunghi.active{display:flex;}
    .social{display:flex;flex-direction: row;justify-content: center;align-items: center;}
    .share-bg2{display:none;}

}
